* {
  margin: 0;
  padding: 0;
}

.content {
  background-color: #50bb84;
}

.table {
  background-color: #fff;
  margin: 20px auto 0px auto;
  border-collapse: collapse;
}

.table, .table_header {
  border: 1px solid black;
}

.table-odd-row {
  background-color: #d7d7d7;
}

.table_header {
  padding: 5px;
  text-align: center;
  background-color: #999999;
}

.table td{
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
